div.img-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  div.background {
    &.be-darker {
      -webkit-filter: brightness(0.3);
      filter: brightness(0.3);
      overflow: hidden;
    }
    div#bottom-bar {
      position: fixed;
      width: 424px;
      bottom: 0px;
      img {
        width: 100%;
      }
    }
    width: 424px;
    height: 100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    img.character {
      width: 100%;
    }
    button#btn1-to-invest {
      cursor: pointer;
      position: absolute;
      top: 8.6%;
      right: 26%;
      font-family: $noto-sans;
      border: none;
      font-size: 12px;
      background-color: $blue;
      padding: 8px 15px;
      border-radius: 6px;
      color: white;
    }
    div.btn-wrapper {
      border-top: 1px solid lightgrey;
      padding: 20px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: $noto-sans;
      img.character {
        width: 160px;
      }
      img.qna,
      img.recommend {
        width: 100%;
      }
      p {
        margin: 2px 0px;
      }
      button#btn2-to-invest {
        cursor: pointer;
        margin: 20px 0px;
        padding: 10px 35px;
        border: none;
        background-color: $blue;
        color: white;
        font-family: $noto-sans;
        font-size: 17px;
        font-weight: 600;
        border-radius: 10px;
      }
    }
  }
  // 모달
  .modal-wrapper {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 35%;
    right: 38%;
    background-color: $light-purple;
    width: 360px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    &.show {
      transform: translateY(-2px);
      opacity: 1;
      visibility: visible;
    }
    #close {
      position: fixed;
      top: 0%;
      right: 0%;
      svg {
        width: 22px;
        margin: 6px;
        cursor: pointer;
      }
    }
    div.modal-row1 {
      margin-top: 13px;
      font-family: $noto-sans;
      font-size: 18px;
      font-weight: 600;
    }
    div.modal-row2 {
      img {
        margin: 10px -15px;
        width: 120px;
        &.small {
          width: 100px;
        }
      }
    }
    div.modal-row3 {
      padding-top: 15px;
      .link-btn {
        padding: 10px 24px;
        text-decoration-line: none;
        color: black;
        background-color: white;
        border-radius: 12px;
        font-family: $noto-sans;
        font-weight: 600;
        &#first {
          color: white;
          background-color: $purple;
          margin-right: 8px;
        }
      }
    }
  }
}
