div.img-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  div.background {
    &.be-darker {
      -webkit-filter: brightness(0.3);
      filter: brightness(0.3);
      overflow: hidden;
    }
    div#bottom-bar {
      position: fixed;
      width: 424px;
      bottom: 0px;
      img {
        width: 100%;
      }
    }
    width: 424px;
    height: 100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    img.character {
      width: 100%;
    }
    button#btn1-to-invest {
      cursor: pointer;
      position: absolute;
      top: 8.6%;
      right: 26%;
      font-family: $noto-sans;
      border: none;
      font-size: 12px;
      background-color: $blue;
      padding: 8px 15px;
      border-radius: 6px;
      color: white;
    }
    div.btn-wrapper {
      border-top: 1px solid lightgrey;
      padding: 20px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: $noto-sans;
      img.character {
        width: 160px;
      }
      img.qna,
      img.recommend {
        width: 100%;
      }
      p {
        margin: 2px 0px;
      }
      button#btn2-to-invest {
        cursor: pointer;
        margin: 20px 0px;
        padding: 10px 35px;
        border: none;
        background-color: $blue;
        color: white;
        font-family: $noto-sans;
        font-size: 17px;
        font-weight: 600;
        border-radius: 10px;
      }
    }
  }
  // 모달
  .modal-wrapper {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 35%;
    right: 38%;
    background-color: $light-purple;
    width: 360px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    &.show {
      transform: translateY(-2px);
      opacity: 1;
      visibility: visible;
    }
    #close {
      position: fixed;
      top: 0%;
      right: 0%;
      svg {
        width: 22px;
        margin: 6px;
        cursor: pointer;
      }
    }
    div.modal-row1 {
      margin-top: 13px;
      font-family: $noto-sans;
      font-size: 18px;
      font-weight: 600;
    }
    div.modal-row2 {
      img {
        margin: 10px -15px;
        width: 120px;
        &.small {
          width: 100px;
        }
      }
    }
    div.modal-row3 {
      padding-top: 15px;
      .link-btn {
        padding: 10px 24px;
        text-decoration-line: none;
        color: black;
        background-color: white;
        border-radius: 12px;
        font-family: $noto-sans;
        font-weight: 600;
        &#first {
          color: white;
          background-color: $purple;
          margin-right: 8px;
        }
      }
    }
  }
}

div.hasStock {
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px 0px;
  .main-contents {
    width: 100%;
    border-top: 2px solid $light-grey;
    padding-top: 35px;
    display: flex;
    width: 90%;
    justify-content: space-around;
    &#page2 {
      display: flex;
      align-items: flex-end;
      padding-bottom: 15px;
    }
    .contents-col1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $noto-sans;
      font-size: 16px;
      line-height: 1.3;
      font-weight: 500;
      h1 {
        font-weight: 600;
        font-size: 26px;
        margin: 8px 0px;
      }
      h3 {
        display: flex;
        align-items: center;
        font-size: 14px;
        span {
          margin-right: 3px;
          &.red {
            color: $thick-red;
          }
          &.blue {
            color: $blue;
          }
        }
      }
    }
    .img-wrapper2 {
      img {
        width: 94px;
      }
    }
  }
  div.portfolio-box {
    cursor: pointer;
    background-color: $light-purple;
    color: black;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 20px;
    width: 85%;
    text-align: center;
    font-family: $noto-sans;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    &.not-show {
      display: none;
    }
    img {
      width: 40px;
      margin-right: 5px;
    }
  }

  div.stocks-wrapper {
    padding: 18px 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    div.title {
      display: flex;
      justify-content: space-between;
      font-family: $noto-sans;
      font-size: 19px;
      font-weight: 600;
      button {
        cursor: pointer;
        font-family: $noto-sans;
        font-weight: 500;
        background-color: white;
        padding: 8px 12px;
        border-radius: 8px;
        border: 1px solid lightgrey;
      }
    }
    ul.stocks-list {
      margin: 14px 0px;
      li#stock {
        cursor: pointer;
        margin: 20px 0px;
        padding: 18px;
        font-family: $noto-sans;
        font-size: 16px;
        box-shadow: 1px 5px 5px 3px lightgrey;
        border-radius: 10px;
        .stock-row1 {
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          p {
            &#stock-name {
              font-size: 15px;
              font-weight: 600;
            }
            &#invest-amount {
              font-weight: 600;
            }
          }
        }
        .stock-row2 {
          display: flex;
          justify-content: space-between;
          font-family: $noto-sans;
          p#stock-share {
            font-size: 13px;
            color: grey;
          }
          div {
            display: flex;
            p {
              font-size: 14px;
              font-weight: 500;
              margin: 0px 3px;
              &.red {
                color: $thick-red;
              }
              &.blue {
                color: $blue;
              }
            }
          }
        }
      }
    }
  }
}

#pie-chart {
  width: 270px;
  margin-right: -67px;
}
