div.img-wrapper {
  height: auto;
  div#stockList-background {
    background-color: white;
    height: auto;
  }
}

.stock-name {
  font-family: $noto-sans;
  font-weight: 500;
  font-size: 15px;
}

.stock-current-price {
  font-family: $noto-sans;
  font-weight: 500;
  font-size: 35px;
}

.stock-earn {
  font-size: 12px;
  font-weight: 500;
  font-family: $noto-sans;
  color: $thick-red;
}

div.chart-button {
  width: 100%;
  text-align: center;
  margin: 12px 0px;
  img {
    width: 100%;
  }
  ul.chart-tab {
    margin: 28px 0px;
    display: flex;
    justify-content: space-around;
    li {
      cursor: pointer;
      font-family: $noto-sans;
      font-size: 14px;
      padding: 12px;
      border-radius: 18px;
      &.active {
        color: white;
        background-color: $blue;
      }
    }
  }
}

div.introduce {
  font-family: $noto-sans;
  font-weight: 600;
  p {
    font-size: 18px;
    font-weight: 600;
  }
  div.info {
    margin-top: 20px;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
  }
}

// 구매 버튼
div.modal-row3 {
  position: fixed;
  bottom: 54px;
  width: 424px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  #buy-btn {
    width: 400px;
    padding: 11px 0px;
    background-color: $purple;
    color: white;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    border-radius: 13px;
    font-family: $noto-sans;
    font-size: 18px;
    font-weight: 600;
  }
}

div.expert {
  font-size: 25px;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  margin-top: 20px;
  div.good_comment {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 50px;
    text-align: center;
  }
  div.good {
    padding: 10px 0px;
    p {
      font-size: 15px;
    }
    background-color: rgb(250, 177, 153);
  }
  div.soso {
    padding: 10px 0px;
    p {
      font-size: 15px;
    }
    background-color: rgb(203, 203, 203);
  }
  div.bad {
    padding: 10px 0px;
    p {
      font-size: 15px;
    }
    background-color: rgb(142, 174, 222);
  }
}
