div.img-wrapper {
  div#stockList-background {
    background-color: white;
    height: auto;
  }
}

.stock-name {
  position: absolute;
  left: 52px;
  top: 95px;
  font-family: $noto-sans;
  font-weight: 500;
  font-size: 15px;
}

.stock-current-price {
  position: absolute;
  left: 52px;
  top: 115px;
  font-family: $noto-sans;
  font-weight: 500;
  font-size: 35px;
}

.stock-earn {
  position: absolute;
  left: 50px;
  top: 160px;
  font-size: 12px;
  font-weight: 500;
  font-family: $noto-sans;
  color: red;
}

div.chart-button {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 174px;
  text-align: center;
  margin: 12px 0px;
  img {
    width: 100%;
  }
  ul.chart-tab {
    margin: 28px 0px;
    display: flex;
    justify-content: space-around;
    li {
      cursor: pointer;
      font-family: $noto-sans;
      font-size: 14px;
      padding: 12px;
      border-radius: 18px;
      &.active {
        color: white;
        background-color: $blue;
      }
    }
  }
}

div.chart-wrapper {
  position: static;
}

#bar-chart-1 {
  position: relative;
}

.chartbutton > .tab {
  text-align: center;
  font-size: 16px;
  font-family: 'Noto Sans KR';
}
.chartbutton > .tab > li {
  display: inline-block;
  margin: 0 20px;
}

div.introduce {
  font-family: $noto-sans;
  font-weight: 600;
  p {
    font-size: 18px;
    font-weight: 600;
  }
  div.info {
    margin-top: 20px;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
  }
}

#stockList-background > div.modal-row3 {
  position: fixed;
  bottom: 62px;
  width: 424px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  #buy-btn {
    width: 400px;
    padding: 11px 0px;
    background-color: $purple;
    color: white;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    border-radius: 13px;
    font-family: $noto-sans;
    font-size: 18px;
    font-weight: 600;
  }
}
//당기순이익
div#stockList-background > div:nth-child(7) {
  position: absolute;
  width: 424px;
  height: 48px;
  left: 40px;
  top: 500px;
  font-size: 25px;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  .info {
    margin-top: 10px;
    width: 340px;
    line-height: 150%;
    font-family: 'Noto Sans KR';
    font-size: 13px;
    font-weight: 300;
  }
}
//뉴스
div#stockList-background > ul.news {
  position: absolute;
  width: 424px;
  height: 48px;
  left: 40px;
  top: 1800px;
  font-size: 25px;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  margin-top: 20px;

  li {
    font-size: 13px;
    line-height: 150%;
    font-weight: 300;
    p:nth-child(2) {
      font-size: 11px;
      color: #1d232f;
    }
  }
}

div#stockList-background > div.expert {
  display: block;
  position: absolute;
  width: 424px;
  height: 48px;
  left: 40px;
  top: 1500px;
  font-size: 25px;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  margin-top: 20px;
  div.good_comment {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 50px;
    text-align: center;
  }
  div.good {
    padding: 10px 0px;
    p {
      font-size: 15px;
    }
    background-color: rgb(250, 177, 153);
  }
  div.soso {
    padding: 10px 0px;
    p {
      font-size: 15px;
    }
    background-color: rgb(203, 203, 203);
  }
  div.bad {
    padding: 10px 0px;
    p {
      font-size: 15px;
    }
    background-color: rgb(142, 174, 222);
  }
}
// div#stockList-background > div.expert > div{
//   width: 300px;
//   padding-left: 130px;
// }
