// colors
$light-blue: #c4deeb;
$light-purple: #c8d8ff;
$blue: #2e66e1;
$purple: #7284fe;
$light-red: #fcaeae;
$light-orange: #ffd4c1;
$light-green: #d8ef79;
$light-lime: #f2ffbb;
$green: #7ff1a0;
$green-2: #50e04f;
$thick-red: #f90607;
$thick-orange: #ff7a02;
$thick-purple: #4707ff;

// font
$noto-sans: 'Noto Sans KR', sans-serif;
